In [6]:
import pandas as pd
import numpy as np
import random
import os

In [7]:
masterDF = pd.DataFrame()

for year in ["2013", "2014","2015","2016","2017","2018","2019","2020"]:
    filepath = f"Data/{year}07-citibike-tripdata.csv"
    
    df_input = pd.read_csv(filepath, low_memory=False)
    sample = df_input.sample(frac=0.04, random_state=42)
    masterDF = masterDF.append(sample)
    
    print(year)

2013
2014
2015
2016
2017
2018
2019
2020

In [8]:
masterDF.reset_index(drop=True, inplace=True)

masterDF.to_csv("fullJulysample.csv", index=False)

In [9]:
os.path.getsize("fullJulysample.csv") / 1000000

87.904298

In [16]:
df = pd.read_csv("fullJulysample.csv", low_memory=False)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2013-07-29 17:35:17,2013-07-29 17:40:23,317.0,E 6 St & Avenue B,40.724537,-73.981854,411.0,E 6 St & Avenue D,40.722281,-73.976687,17504,Subscriber,1974,1
1,383,2013-07-16 19:51:22,2013-07-16 19:57:45,524.0,W 43 St & 6 Ave,40.755273,-73.983169,515.0,W 43 St & 10 Ave,40.760094,-73.994618,17594,Subscriber,1990,1
2,266,2013-07-29 18:02:31,2013-07-29 18:06:57,330.0,Reade St & Broadway,40.714505,-74.005628,147.0,Greenwich St & Warren St,40.715422,-74.011220,18461,Subscriber,1980,1
3,968,2013-07-02 07:54:50,2013-07-02 08:10:58,499.0,Broadway & W 60 St,40.769155,-73.981918,417.0,Barclay St & Church St,40.712912,-74.010202,14807,Subscriber,1984,1
4,554,2013-07-23 09:26:34,2013-07-23 09:35:48,146.0,Hudson St & Reade St,40.716250,-74.009106,295.0,Pike St & E Broadway,40.714067,-73.992939,15255,Subscriber,1983,1

In [17]:
len(df)

488566

os.path.getsize("fullJulysample.csv") / 1000000

random_state = 42

df_sub = df.sample(frac=.01, random_state=random_state)
df_sub.head()